@import "../../assets/scss/color/outcolor.scss";

#product{
    ol{
        padding: 0;
        li{
            list-style: none;
            margin-bottom: 10px;
            span{
                display: inline-block;
                width: 180px;
            }
        }
    }
    font-size: $myFontSize;
}